<h2 style="color: blue">Boucles for<h2>

In [1]:
for i in range(5) :
    print("Nous en somme au :",i)

Nous en somme au : 0
Nous en somme au : 1
Nous en somme au : 2
Nous en somme au : 3
Nous en somme au : 4

In [2]:
for i in "¡ Hola !" :
    print(i)
    
 # ¡ = ALT + 0 + 1 + 6 + 1

¡

H
o
l
a

!

In [11]:
for i in range(5):
    for j in range(5):
        print(i,j)
    print("\n")

0 0
0 1
0 2
0 3
0 4


1 0
1 1
1 2
1 3
1 4


2 0
2 1
2 2
2 3
2 4


3 0
3 1
3 2
3 3
3 4


4 0
4 1
4 2
4 3
4 4

<h2 style="color: blue"> Boucles While<h2>

In [12]:
age = 14

while age < 18 :
    print("Vous etes minuer(e)")
    print("Vous avez", age, "ans \n")
    age += 1
    if age == 18 :
        print("Vous avez", age, "ans \n")
        print("Vous etes enfin majeur(e)")
        print("Félicitations !")

Vous etes minuer(e)
Vous avez 14 ans

Vous etes minuer(e)
Vous avez 15 ans

Vous etes minuer(e)
Vous avez 16 ans

Vous etes minuer(e)
Vous avez 17 ans

Vous avez 18 ans

Vous etes enfin majeur(e)
Félicitations !

In [ ]:
# NE PAS LANCER !
# ATTENTION BOUCLE INFINIE !

nombre = 0

while True :
    nombre += 1

In [13]:
#TOUJOURS VERIFIER SI LA BOUCLE PEUT FINIR AVANT DE LA LANCER !

nombre = 0
total = 0

while True :
    nombre += 1
    total += nombre
    if nombre > 50 :
        print(total)
        break

1326

<h2 style="color : Blue">Maths<h2>

In [14]:
print("Addition : 2 + 2 =", 2+2)
print("Soustraction : 2 - 2 =", 2-2)
print("Multiplication : 2 * 2 =", 2*2)
print("Division : 2 / 2 =", 2/2)
print("Modulo : 2 % 2 =", 2%2)

Addition : 2 + 2 = 4
Soustraction : 2 - 2 = 0
Multiplication : 2 * 2 = 4
Division : 2 / 2 = 1.0
Modulo : 2 % 2 = 0

<h2 style="color : Blue">Types<h2>

In [15]:
#INT

nb_pommes = 9

type(nb_pommes)

int

In [16]:
#STR

question = "Quel est la lettre qui coupe le plus de bois ?"

type(question)

str

In [17]:
#FLOAT

note = 16.5

type(note)

float

In [18]:
#LISTES

courses = ["pain","chocolat","pommes"]

type(courses)

list

In [19]:
#TUPLES

couleur = (255,152,98)

type(couleur)

tuple

In [20]:
#BOOLÉEN

a = True

type(a)

bool

In [21]:
b = False

type(b)

bool

<h2 style="color : Blue">Fonctions Booléennes<h2>

In [22]:
#AND

from IPython.display import Markdown
    
table ='''|  a  |  b  ||  ET  |
|:---:|:---:||:---:|\n'''

for a in [False,True]:
    for b in [False,True]:
        table += f"|  {a}  |  {b}  ||  {a and b}  |\n"
        
Markdown(table)

|  a  |  b  ||  ET  |
|:---:|:---:||:---:|
|  False  |  False  ||  False  |
|  False  |  True  ||  False  |
|  True  |  False  ||  False  |
|  True  |  True  ||  True  |

In [23]:
#OR

table ='''|  a  |  b  ||  OR  |
|:---:|:---:||:---:|\n'''

for a in [False,True]:
    for b in [False,True]:
        table += f"|  {a}  |  {b}  ||  {a or b}  |\n"
        
Markdown(table)

|  a  |  b  ||  OR  |
|:---:|:---:||:---:|
|  False  |  False  ||  False  |
|  False  |  True  ||  True  |
|  True  |  False  ||  True  |
|  True  |  True  ||  True  |

In [24]:
#NOT

table ='''|  a  ||  NOT  |
|:---:||:---:|\n'''

for a in [False,True]:
    table += f"|  {a}  ||  {not a}  |\n"
        
Markdown(table)

|  a  ||  NOT  |
|:---:||:---:|
|  False  ||  True  |
|  True  ||  False  |

In [25]:
#XOR
#OU EXCLUSIF

table ='''|  a  |  b  ||  OR  |
|:---:|:---:||:---:|\n'''

for a in [False,True]:
    for b in [False,True]:
        table += f"|  {a}  |  {b}  ||  {a ^ b}  |\n"
        
Markdown(table)

|  a  |  b  ||  OR  |
|:---:|:---:||:---:|
|  False  |  False  ||  False  |
|  False  |  True  ||  True  |
|  True  |  False  ||  True  |
|  True  |  True  ||  False  |

In [26]:
#NAND
#NOT AND

table ='''|  a  |  b  ||  NAND  |
|:---:|:---:||:---:|\n'''

for a in [False,True]:
    for b in [False,True]:
        table += f"|  {a}  |  {b}  ||  {not (a and b)}  |\n"
        
Markdown(table)

|  a  |  b  ||  NAND  |
|:---:|:---:||:---:|
|  False  |  False  ||  True  |
|  False  |  True  ||  True  |
|  True  |  False  ||  True  |
|  True  |  True  ||  False  |

In [27]:
#NOR
#NOT OR

table ='''|  a  |  b  ||  NOR  |
|:---:|:---:||:---:|\n'''

for a in [False,True]:
    for b in [False,True]:
        table += f"|  {a}  |  {b}  ||  {(not a) and (not b)}  |\n"
        
Markdown(table)

|  a  |  b  ||  NOR  |
|:---:|:---:||:---:|
|  False  |  False  ||  True  |
|  False  |  True  ||  False  |
|  True  |  False  ||  False  |
|  True  |  True  ||  False  |

<h2 style="color : Blue">CHI-FOU-MI<h2>

In [ ]:
from random import *

pointJoueur = 0
choixJoueur = 0

pointOrdi = 0
choixOrdi = 0

for i in range (1, 6):
    
    choixOrdi = randint(1, 3) 
    
    
    print("Ecrivez votre choix")
    choixJoueur = input("Choisissez entre Pierre, Feuille et Ciseaux\n")       
      
    if choixJoueur == "Pierre" :
        if choixOrdi == 1:
            print("Egalité\n")
            
        elif choixOrdi == 2 :
            print("L'ordi a gagné\n")
            pointOrdi =+ 1
            
        elif choixOrdi == 3 :
            print("Vous avez gagné !")
            print("Bravo !\n")
            pointJoueur =+ 1
        
            
    if choixJoueur == "Feuille" :
        if choixOrdi == 1 :
            print("Vous avez gagné !")
            print("Bravo !\n")
            pointJoueur =+ 1
            
        elif choixOrdi == 2 :
               print("Egalité\n")
                
        elif choixOrdi == 3 :
            print("L'ordi a gagné\n")
            pointOrdi =+ 1
        
            
    if choixJoueur == "Ciseaux" :
        if choixOrdi == 1 :
            print("L'ordi a gagné\n")
            pointOrdi =+ 1
            
        elif choixOrdi == 2 :
            print("Vous avez gagné !")
            print("Bravo !\n")
            pointJoueur =+ 1
            
        elif choixOrdi == 3 :
              print("Egalité\n")
        
        
if pointJoueur > pointOrdi :
    print("Vous avez gagné !")
    print("Vous avez", pointJoueur, "points, et l'ordi as", pointOrdi, "points !")
    
if pointJoueur < pointOrdi :
    print("Dommage, vous avez perdu")
    print("L'ordi as", pointOrdi, "points, et vous avez", pointJoueur, "points !")
    print("Vous ferrez mieux la prochaine fois !")
    
if pointJoueur == pointOrdi :
    print("Egalité")
    print("Vous gagnerez la prochaine fois !")

<h2 style="color : Blue">Fonctions<h2>

## Documentation d'une fonction

```python
def ma_fonction(liste de paramètres):
    """ 
        Description :
        
        Exemple :
    
        Préconditions :
            
        Postconditions :        
                
    """
    # Assertions de vérification des préconditions :
    
    assert condition , 'message'
    
    # bloc d'instructions :
    
    return 
```

## Exemple de documentation complete

````Python
def affiche_moyenne(prenom : str, note1 : float, note2 : float, note3 : float) -> str :
    """
    ==================================================================================================================
    
       * Description : 
          Je calcule la moyenne de 3 notes sur 20 d'un élève et renvoie le résultat formaté pour un affichage de texte ;
                        
       * Exemple :
            >>> affiche_moyenne("Boris", 9,7.5,12)
            'La moyenne de Boris est 9.5.'
                    
       * Préconditions :
            - prenom (str) : une chaine de caractères identifiant de l'élève ;
            - note_ (float) : un nombre entier ou flottant compris entre 0 et 20 inclus ;
                    
       * Postconditions :
            (str) : une chaine de caractère formatée contenant l'identifiant de l'élève et sa moyenne calculée.
        
    ==================================================================================================================
    """
    # Assertions de vérification des préconditions :
    assert type(prenom) == str  , "La valeur du premier argument doit être une chaine de caractères identifiant l'élève"
    assert note1 >= 0.0  , "Le second argument est une note comprise entre 0 et 20 inclus"
    assert note1 <= 20.0  , "Le second argument est une note comprise entre 0 et 20 inclus"
    
    
    # bloc d'instructions :
    moyenne=(note1+note2+note3)/3
    return f"La moyenne de {prenom} est {moyenne}."
````

In [3]:
# ORDRE CROISSANT

def tri3c(a,b,c):
    
    if a > b :
        if c > a :
            resultat = b,a,c
        elif c > b :
            resultat = b,c,a
        else :
            resultat = c,b,a
            
    elif b > a :
        if c > b :
            resultat = a,b,c
        elif a > c :
            resultat = c,a,b
        else :
            resultat = a,c,b
            
    return resultat

#Test
tri3c(54,36,2)

(2, 36, 54)

In [4]:
# ORDRE DECROISSANT

def tri3d(a,b,c):

    if a < b :
        if c < a :
            resultat = b,a,c
        elif c < b :
            resultat = b,c,a
        else :
            resultat = c,b,a
            
    elif b < a :
        if c < b :
            resultat = a,b,c
        elif a < c :
            resultat = c,a,b
        else :
            resultat = a,c,b
            
    return resultat

#Test
tri3d(10,45,8)

(45, 10, 8)

In [7]:
def tri3(a,b,c,reverse=False) :
    if reverse == True :
        return tri3d(a,b,c)
    else :
        return tri3c(a,b,c)
    
#Test
tri3(875,102,3,False)

(3, 102, 875)

<h2 style="color : Blue">Tableaux<h2>

In [5]:
#FAIRE UN TABLEAU

monTableau = [1,2,3,4,5]
monTableau

[1, 2, 3, 4, 5]

In [2]:
#PARCOURIR LES ELEMENTS D´UN TABLEAU

for i in monTableau :
    print(i)

1
2
3
4
5

In [3]:
#LA FONCTION REMOVE

monTableau.remove(3)
monTableau

[1, 2, 4, 5]

In [4]:
#TABLEAUX PAR COMPREHENSION

multiples_de_neuf = [i for i in range(100) if i % 9 == 0]
multiples_de_neuf

[0, 9, 18, 27, 36, 45, 54, 63, 72, 81, 90, 99]

In [6]:
def aditionne_element(tableau) :
    ''' 
    Description : - Aditionne les éléments d'un tableau 
    
    Exemple : >>> aditionne_element([10, 20, 30, 10, 20, 60, 100])
              >>> 250
              
    Préconditions : - un tableau de type list
    
    Postconditions : - int
    
    '''
    somme = 0
    for i in range(len(tableau)) :
        somme += tableau[i]
#         print(new_tab,i)
    return somme
    
aditionne_element([1,2,4])

7

In [7]:
def moyenne_element(tableau) :
    ''' 
    Description : - Fait la moyenne des éléments d'un tableau
    
    Exemple : >>> moyenne_element([ 10 , 20 , 30 , 10 , 20 , 60 , 100 ])
              >>> 35.714285714285715
              
    Préconditions :  - un tableau de type list
                     - la fonction aditionne_element
                     
    Postconditions : - un float représentant la moyenne des valeurs du tableau
    
    '''
    return aditionne_element(tableau) / len(tableau)

moyenne_element([ 10 , 20 , 30 , 10 , 20 , 60 , 100 ])

35.714285714285715

In [8]:
def suprimer_doublons(tableau) :
    '''
    Description : - Si il il ya plusieurs nombres/chiffres identiques, un seul est conservé
                  - La fonction suprime les doublons d'un tableau
                  
    Exemple : >>> suprimer_doublons([20,41,52,41,20,78,41,63,52,20])
              >>> [20, 41, 52, 78, 63]
              
    Préconditions : - un tableau de type list
    
    Postconditions : -un tableau de type list sans nombres/chiffres en double
    
    '''
    new_tableau = []
    for i in range(len(tableau)):
        if tableau[i] not in new_tableau :
            new_tableau.append(tableau[i])
    return new_tableau
        
suprimer_doublons([20,41,52,41,20,78,41,63,52,20])

[20, 41, 52, 78, 63]

In [9]:
def multiplie_par_2(tableau) :
    '''
    Description : - Multiple par 2 les elements d'un tableau
    
    Exemple : >>> multiplie_par_2([ 10 , 20 , 30 , 10 , 20 , 60 , 100 ])
              >>> [20, 40, 60, 20, 40, 120, 200]
              
    Préconditions : - un tableau de type list
    
    Postconditions : - un tableau de type list avec le double des valeurs du tableau en entrée
    
    '''
    new_tableau = []
    for i in range(len(tableau)):
        new_tableau.append(tableau[i]*2)
    return new_tableau
        
multiplie_par_2([ 10 , 20 , 30 , 10 , 20 , 60 , 100 ])

[20, 40, 60, 20, 40, 120, 200]

In [10]:
def multiplie_par_2_si_sup50(tableau) :
    '''
    Description : - Multiple par 2 les elements d'un tableau 
                  - Les affiche si le double est supérieur à 50
    
    Exemple : >>> multiplie_par_2_sup50([ 10 , 20 , 30 , 10 , 20 , 60 , 100 ])
              >>> [60,120,200]
              
    Préconditions : - un tableau de type list
    
    Postconditions : - un tableau de type list avec le double des valeurs du tableau en entrée si ce double est supérieur à 50
    
    '''
    return [tableau[i] * 2 for i in range(len(tableau)) if tableau[i] * 2 >= 50]