<h1> Ce document est un mémo des principales commandes en SQL<h1>

<h2> I) Gérer une base de données<h2>

<h4> 1) Créer une base de donnée<h4>

<h5>CREATE TABLE LIVRES <br>
(id INT, titre TEXT, auteur TEXT, ann_publi INT, note INT, PRIMARY KEY (id))<h5>

<h4> 2) Supprimer une base de donnée<h4>

<h5>DROP TABLE LIVRES_DE_POCHE<h5>

<h2> II) Les requêtes d'interrogation<h2>

<h4> 1) Pour tout selctionner :<h4>

<h5>SELECT * FROM LIVRES<h5>

<h4>2) Pour selctionner un ou plusieurs éléments :<h4>

<h5>SELECT auteur,date FROM LIVRES<h5>

<h4>3) Pour selctionner un ou plusieurs éléments avec une ou plusieurs conditions :<h4>

<h5>SELECT auteur,date FROM LIVRES <br>
WHERE note>10 <h5>

<h5> SELECT auteur, titre FROM LIVRES <br>
WHERE note>5 AND ann_publi>1975<h5>

<h5> SELECT auteur, titre FROM LIVRES <br>
WHERE langue="francais OR langue="anglais"<h5>

<h4>4) Mettre en ordre :<h4>

<h5>Ordre Croissant : SELECT titre,note FROM LIVRES ORDER BY note ASC<h5>

<h5>Ordre Decroissant : SELECT titre,note FROM LIVRES ORDER BY note DESC<h5>

<h4>5) Les conditions utilisables :<h4>

- = (égal)

- <> (supérieur / inférieur)

- != (différent)

- _>= (supérieur ou égal)

- <= (inférieur ou égal)

- IS NULL ( valeur nulle - sans valeur)

- IS NOT NULL

<h4>6) Les principales fonctions :<h4>

- MIN()
- MAX()
- SUM()
- AVG()
- COUNT()

<h5>Ex : SELECT SUM(stock) FROM LIVRES<h5>

<h2> III) Les requêtes de modification : <h2>

<h4>1) Les ajouts :<h4>

<h5>INSERT INTO LIVRES VALUES (15,"Peppa Pig", 23, 2019, 10)<h5>

<h4>2) Modifier :<h4>

<h5> UPDATE LIVRES <br>
SET note=9 <br>
WHERE titre="Peppa Pig"<h5>

<h4>3) Supprimer : <h4>

<h5>DELETE FROM LIVRES <br>
WHERE langue="allemand" <h5>

La relation Agences
Au départ ce réseau se limitait à la région Bretagne mais peu à peu vous avez ouvert de nombreuses agences et maintenant le réseau couvre tout le territoire national. Un certain nombre d'informations relatives à ces agences sont stockées dans la base de données. Par exemple, vous pouvez obtenir les noms des enseignes ou les villes dans lesquelles elles sont situées. Plus précisément, la relation Agences est décrite par :



id	INT	la clef primaire
nom	TEXT	vous avez de l'humour
adresse	TEXT	rue, avenue, boulevard...
code	TEXT	le code postal
ville	TEXT	la ville
pays	TEXT	le pays
1/9 : Visualisez toute la relation Agences.
SELECT * FROM AGENCES
-----------
( SELECT * FROM Agences )
2/9 : Listez uniquement les noms des agences et leur ville.
SELECT nom,ville FROM Agences
-----------
( SELECT nom, ville FROM Agences )
3/9 : Listez les noms des agences de la ville de Lorient.
SELECT nom,ville FROM Agences WHERE ville="Lorient"
-----------
( SELECT nom FROM Agences WHERE ville='Lorient' )
4/9 : Listez les noms des agences du département du Morbihan (code postal 56***) ainsi que les codes postaux en utilisant un WHERE LIKE.
SELECT nom,code FROM Agences WHERE code LIKE 56
-----------
( SELECT nom, code FROM Agences WHERE code LIKE '56%' )
5/9 : Listez les noms des agences du département du Morbihan ainsi que les codes postaux en utilisant la fonction SUBSTR(str,first,nb) dans un WHERE.
SELECT nom, SUBSTR(code, 1, 5) FROM Agences WHERE code LIKE '56%'
-----------
( SELECT nom, code FROM Agences WHERE SUBSTR(code,1,2) = '56' )
6/9 : Listez les villes du département du Morbihan hébergeant au moins une agence. Attention, une ville ne doit apparaître qu'une seule fois.
SELECT DISTINCT nom FROM Agences WHERE SUBSTR(code,1,2) = '56%'
-----------
( SELECT DISTINCT ville FROM Agences WHERE code LIKE '56%' )
7/9 : Listez les noms des agences en Bretagne ('56','29','35','22') ainsi que les codes postaux en utilisant la fonction SUBSTR(str,first,nb) et la directive IN (element1,element2,element3,...)
SELECT nom, code FROM Agences WHERE SUBSTR(code,1,2) IN ('56','29','35','22')
-----------
( SELECT nom, code FROM Agences WHERE SUBSTR(code,1,2) IN ('56','29','35','22') )
8/9 : Déterminez le nombre d'agences en Bretagne.
SELECT COUNT(DISTINCT ville) FROM Agences WHERE SUBSTR(code,1,2) IN ('56','29','35','22')
-----------
( SELECT COUNT(*) FROM Agences WHERE SUBSTR(code,1,2) IN ('56','29','35','22') )
9/9 : Déterminez le nombre d'agences en France.
SELECT COUNT(nom) FROM Agences;
-----------
( SELECT COUNT(*) FROM Agences WHERE pays='France' )
Vous êtes assez satisfait car en à peine 6 mois vous avez déjà 12 agences bien réparties sur le territoire national. Il faut dire que vous avez largement investi dans l'immobilier. En plus vous connaissez bien les gérants, tous des copains d'enfance. Allons analyser maintenant la flotte de véhicules.


Générer un pdf
COUNT(nom)
12
Ce site est propulsé par SQLite compiled to JavaScript. Cette œuvre est mise à disposition selon les termes de la Licence Creative Commons Attribution 4.0 International.